@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  direction: rtl;
}

/* RTL Support for Material */
.mat-mdc-form-field {
  direction: rtl;
}

.mat-mdc-paginator {
  direction: rtl;
}
